@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-image: url('/assets/TELA1.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.container {
    font-size: large;
    padding-top: 138px;
}

.bloco-nome {
    font-weight: 500;
    text-align: center;
    padding-top: 140px;
}

.subtitulo {
    font-size: 100px;
    font-weight: 800;
    text-align: center;
}

.cha {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 40px;
}

.presentes-grid {
    display: grid;
    padding: 10px 72px 0px 72px;
    grid-template-columns: repeat(5, 1fr);
    gap: 7px;
}

.container-presente {
    width: 220px;
    height: 310px;
    border: 4px solid #D9D9D9;
    border-radius: 26px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.img-tamanho {
    width: 157px;
    height: 140px;
    border-radius: 26px;
    margin-top: 21px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.texto-presente {
    font-weight: bolder;
    text-align: center;
    font-size: 16px;
    max-width: 160px;
    margin-top: 12px;
}

.btn-presentear {
    width: 150px;
    height: 33px;
    margin-top: auto;
    margin-bottom: 16px;
    background-color: #333333;
    border-radius: 65px;
    color: white;
    font-weight: bolder;
}

.hidden-presente {
    display: none !important;
}

button {
    border: none;
    cursor: pointer;
}

/* Cadastro */
#cadastroView {
    display: none;
    background-image: url('/assets/TELA2.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container-cadastro {
    width: 357px;
    height: 467px;
    background-color: #fafafa;
    border-radius: 16px;
    padding: 32px;
    margin: auto;
    font-weight: bolder;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transform: translateY(87px);
}

.container-cadastro h2 {
    text-align: center;
    margin-bottom: 24px;
    font-weight: bolder;
    font-size: xx-large;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-cadastro input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    font-size: 16px;
    width: 270px;
    align-self: center;

    placeholder {
        color: #dadada
    }
}

.link-produto {
    display: block;
    text-align: center;
    margin: 10px auto;
    color: black;
    text-decoration: none;
}

.form-cadastro button {
    padding: 5px;
    background-color: #333333;
    color: white;
    border-radius: 65px;
    font-weight: bolder;
    width: 271px;
    align-self: center;
    margin-top: 10px;
}

/* Responsivo */
@media (max-width: 430px) {

    #mainView .subtitulo {
        font-size: 77px;
        font-weight: 800;
        text-align: center;
    }

    .cha {
        font-size: 26px;
    }

    .presentes-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 12px;
    }

    .container-presente {
        height: auto;
        transform: translate(110px, 10px);
    }

    .img-tamanho {
        width: 130px;
        height: 120px;
    }

    .texto-presente {
        font-size: 14px;
        max-width: 130px;
        padding-bottom: 10px;
    }

    .btn-presentear {
        width: 120px;
        height: 30px;
    }
}

@media (max-width: 1920px) {
    .presentes-grid {
        display: grid;
        padding: 10px 250px 3px 270px;
        grid-template-columns: repeat(5, 1fr);
        gap: 7px; 
    }
}